<%=
s = GFX::String.new

if @current_user

  render(:partial=>"dashboard")

else 
	s << form_tag(:action=>'login')

	s + 'username/code'
	s + text_field_tag('code', '', :size=>9)

	s + 'password'
	s + password_field_tag('pass', '', :size=>8)

	s + submit_tag('Sign in')
	s + '</form>'

end
%>