<% if @current_worker and @current_worker.registered? %>

<% else %>
<div id="login" class="form">
  <%= form_tag(:action=>'login') %>
  <div>Username: <%= text_field_tag('username', '') %></div>
  <div>Password: <%= password_field_tag('password', '') %></div>
  <div><%= submit_tag('Login', :name=>'login') %></div>
</form>
</div>
<% end %>
