<div id="forgot_password" class="form">
  <div style="text-align: left;">Enter your username or email address, and we'll email you a link to reset your password.</div>

  <%= form_tag(action: 'send_reset_email') %>
    <div>Username or email: <%= text_field_tag('login', '') %></div>
    <div><%= submit_tag('Submit') %></div>
  </form>
</div>
