development:
  adapter: mysql2
  encoding: utf8
  database: pnet_nanny
  username: root
  password: 'asdf'
  host: 127.0.0.1
  port: 3306

production:
  adapter: mysql2
  encoding: utf8
  database: pnet_nanny
  username: root
  password: 'asdf'
  host: 127.0.0.1
  port: 3306