@import "twitter/bootstrap";

// Fonts

@import url('//fonts.googleapis.com/css?family=Muli');
@import url('//fonts.googleapis.com/css?family=Source+Sans+Pro:300,700,900');

// Colors /////////////////////////////////////////////////////////////////////

@white: #ffffff;
@black: #000000;
@orange: #f28316;
@blue: #4080cf;
@pnBlue: #e3e5f1;
@grayLight: #d3d3d3;

// Navbar /////////////////////////////////////////////////////////////////////

@navbarHeight: 60px;
@navbarBackground: @white;
@navbarBackgroundHighlight: @white;
@navbarLinkColorHover: @blue;

.navbar {
  font-family: 'Source Sans Pro', sans-serif;
  .nav > li > a { 
    color: @gray;
    text-shadow: none; 
  }

  .logo {
    padding-right: 40px;
  }
}

.navbar-inner {
  .box-shadow(none);
}

.navbar-fixed-top {
  position: relative;
}

// Body ///////////////////////////////////////////////////////////////////////

@textColor: @gray;
@linkColor: @orange;

@headingsColor: @blue;

body {
  font-family: 'Source Sans Pro', sans-serif;
  margin-top: @navbarHeight;
}

h1, h2, h3 {
  font-weight: normal;
}

#footer {
  padding: 10px;
  color: @black;
}

.popover-inner {
  background: @pnBlue;
}

.popover-title {
  background: @pnBlue;
}

.hero-unit {
  color: @white;
  font-family: 'Syncopate', sans-serif;
  background: asset-url('pnet_office_big.png') repeat-x 0 0;   
  background-color: darken(@white, 15%);
  background-position: center;
  //.border-radius(16px);

  h1 { 
    font-size: 40px; 
    text-shadow: 2px 2px 4px @gray;
  }
  //img { .border-radius(8px); }
} 

.clear { clear: both; }

div.logo {
  background: asset-url('logo.png') no-repeat 0 0; 
  width: 250px;
  height: 52px;
}

@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min-device-pixel-ratio: 2) {
  div.logo {
    background-image: asset-url('logo@2x.png');
    background-size: 250px 52px;
  }
}

div.lead {
  padding: 20px 0 10px 0;
  h1, h2, h3 { 
    color: @orange;
  }
}

#footer {
  background-image: asset-url("white-30.png");
  background-color: transparent;
  background-size: auto;
  background-attachment: scroll;
  background-origin: padding-box;
  height: 100%;
  text-align: center;

  a {
    color: @blue
  }

  h1, h2, h3 {
    color: @gray;
  }
}

#copyright {
  text-align: center;
  color: @grayLight;
}

.pageHeader {
  width: 1200px;
  position: relative;
  margin-bottom: 20px;

  .headerBackground {
  }

  .headerContent {

    h1, h2, h3 {
      color: @white;
    }

    position: absolute;
    color: @white;
    top: 20px;
    width: 600px;
    padding-left: 20px;
  }

  .headerImage {
    position: absolute;
    top: 0px;
    left: 650px;
    width: 445px;
    height: 230px;
  }
}

div.form {
  background: @pnBlue;
  width: 200px;
  padding: 10px;
  text-align: right;
  //.border-radius(8px);
  .box-shadow(0px 5px 5px @gray);
  margin: auto;  

  input {
    width: 100px;
  }
}

div#login {
}

div#register {
  width: 340px;

  input {
    width: 200px;
  }
}

div#edit_worker {
  width: 280px;

  input {
    width: 100px;
  }
}

div.flash {
  background: @orange;  
  color: @white;
  text-align: center;
  font-size: 24px;
  padding: 10px;
}

div.review_controller {

  div.foto {
    width: 188px;
    padding: 2px;
    text-align: center;
  }

  a.small {
  }

  a#approve {
    border: 2px solid black;
  }
}

/////////////////////////////////////////////////////////////////////
// Videos

.videos {
  position: relative;
}

.video {
  box-sizing: border-box;
  margin: 20px 10px;
}

.video-display, .video-approval-form {
  float: left;
}

.video-display video {
  max-width: 400px;
}

.video-approval-form {
  margin: 0 0 10px 10px;
  box-shadow: 0 1px 1px rgba(0,0,0,0.15);
  border: 1px solid #c8c8cf;
  border-radius: 4px;
  background-color: #fafafa;
  padding: 5px;

  .radio {
    margin-right: 8px;
    padding-right: 2px;
    border: 1px solid transparent;
  }

  .radio:hover {
    background-color: #FCF8E3;
    border-color: #fbeed5;
  }
}

.form-group {
  margin-top: 10px
}

.form-group-title {
  margin-bottom: 5px;
  color: @blue;
  font-size: 18px;
}

.rating {
  padding: 2px;
  label {
    margin-bottom: 0;
    margin-right: 10px;
    vertical-align: middle;
    font-size: 90%;
  }
}

.rating-even {
  background-color: #f8f8f8;
}

.rating-odd {
  background-color: #e8e8ef;
}

.reject-option-container {
  margin-top: 2px;
}

.approve-button-container, .reject-button-container {
  margin-top: 10px;
}

.hold-comments-input {
  width: 150px;
}
