<ul class='nav'>
  <% 
items = []

items << ["Deliver callbacks", { :controller=>'dummy', :action=>'deliver_callbacks' }]

bookmarklet_code = "window.location='#{url_for(:only_path=>false, :controller=>'dummy', :action=>'submit', :submit=>'submit')}&url='+encodeURIComponent(document.location)"

items << ["Bookmarklet", "javascript:#{bookmarklet_code}"]

items.each do |item|
  element, target = item
  if target.is_a?(Hash)
    unless target[:controller] == params[:controller] and target[:action] == params[:action]
      %><li><%= link_to(element, target) %></li><% 
    else
      %><li class="active"><%= link_to(element, '#') %></li><%       
    end
  else
    %><li><%= link_to(element, target) %></li><% 
  end
end %>
</ul>