<div class='logo pull-left' onclick="window.location='/'"></div>

<ul class="nav pull-right">
<% 

items = []

items << ["Approve Videos", { :controller=>'videos', :action=>'index' }]
items << ["Review Photos", { :controller=>'review', :action=>'index' }]

items << ["Submit Video", { :controller => 'video_testing', :action => 'add' }]
items << ["Submit Photo", :bookmarklet]

if @current_worker and @current_worker.registered?
  items << ["Logout (#{@current_worker.description})", { :controller=>'admin', :action=>'logout' }]
end

# items << "Funds: $#{Peanut::Redis::Cache.capture(:duration=>300) { Turkey.adapter.availableFunds }}"

items.each do |item|
  element, target = item
  if target.is_a?(Hash)
    unless target[:controller] == params[:controller] and target[:action] == params[:action]
      %><li><%= link_to(element, target) %></li><% 
    else
      %><li class="active"><%= link_to(element, '#') %></li><%       
    end
  else
    %><li><%= link_to(element, target) %></li><% 
  end
end %>
</ul>
