<div class='logo pull-left' onclick="window.location='/'"></div>

<% if @current_worker && @current_worker.registered? %>
<ul class="nav nav-tabs pull-right">
<% 

items = []

items << ["Videos", { :controller=>'videos', :action=>'index' }]
items << ["Held Videos", { :controller=>'videos', :action=>'held' }]
items << ["Photos", { :controller=>'review', :action=>'index' }]
items << ["Submit Video", { :controller => 'video_testing', :action => 'add' }]
items << ["Submit Photo", { :controller => 'dummy', :action => 'submit' }]

items << ["Logout (#{@current_worker.description})", { :controller=>'admin', :action=>'logout' }]

# items << "Funds: $#{Peanut::Redis::Cache.capture(:duration=>300) { Turkey.adapter.availableFunds }}"

items.each do |item|
  element, target = item
  active = target[:controller] == params[:controller] && target[:action] == params[:action]
%>
  <li class="<%= 'active' if active %>">
    <%= link_to(element, target) %>
  </li>
<% end %>
</ul>
<% end -%>
